<% content_for :javascript_includes do %>
  <%= javascript_include_tag "sinks.js" %>
<% end %>

<h1>Sinks</h1>

<% if !@sinks.nil? %>

	<% @sinks.each do |sink| %>
		<%= sink.name.capitalize %></strong>: 
		<% if sink.running %> 
			<font color='royalblue'>running</font> <%= image_tag("water_drop_16px.png", :class => 'icon') %>
		<% else %>
			<font color='gray'>off</font>
		<% end %>
		<br>
	<% end %>
	
	<br>

	<div class="left" id="graph">
		<h1>Time of Day</h1>
		<%# image_tag 'graph_placeholder.jpg' %>
		<% @sinks.each do |sink| %>
			<div id="<%=sink.id%>" class="overview-graph"></div>
		<% end %>
		<!--<div id="sink-time-of-day" style="width: 650px; height: 150px; margin-bottom: 1.5em; padding-left: 0.5em;"></div>-->
	</div>

	<div class="center" id="log">
		<h1>Watering Log</h1>

		<% @sinks.each do |sink| %>
			<strong><%= sink.name %></strong><br>
		
			<% if sink.running == true %>
				<em><%= format_log_date sink.collected_at%></em><br>
			<% end %>
			
			<!-- I can't figure out a cooler way to do this with scopes -->
			<% running_sinks = sink.versions.find_all{ |v| v.running == true } %>
			<% running_sinks.reverse! %>
		
			<% running_sinks.each do |rs| %>
				<%= format_log_date rs.collected_at %>
				<%# link_to 'delete', edit_sink_version_path(rs), :method => 'delete' %>
				<br>
			<% end %>

			<%# format_log_date Sink.first.updated_at %>
		<% end %>
	</div>

<% else %>
	No data.  Register a sensor and let a sensor run.
<% end %>
