<h1>Sinks</h1>

<% if !@basement_sink.nil? %>

<ul>
	<li>Name: <%= @basement_sink.name %></li>
	<li>Proximity: <%= @basement_sink.proximity %></li>
	<li>Running: <%= @basement_sink.running %></li>
</ul>

<h1>History</h1>
<% @sinks.each do |sink| %>
	<% sink.versions.each do |sink_history| %>
		<hr>
	
		Name:
		<%= sink_history.name%> <br>
		Created:
		<%= sink_history.created_at%><br>
		Updated:
		<%= sink_history.updated_at%><br>
		Running:
		<%= sink_history.running%><br>
		Proximity:
		<%= sink_history.proximity%><br>
	<% end %>
<% end %>

<% else %>

	No data.  Register a sensor and let a sensor run.

<% end %>