<%= link_to "Register a Sensor", new_sensor_path %>

<h1>Sensor List</h1>

<table>
	<th>Name</th>
	<th>Type</th>
	<th>ID</th>

	<% @sensors.each do |sensor| %>
	<tr>
		<td><%= sensor.name %></td>
		<td><%= sensor.type %></td>
		<td><%= sensor._id %></td>
		<td><%= link_to 'Destroy', sensor, :confirm => 'Are you sure?', :method => :delete %></td>
	</tr>
	<% end %>

</table>