<h1>New Sensor</h1>

<%= form_for(@sensor) do |f| %>
	<% if @sensor.errors.any? %>
	<ul>
		<% @sensor.errors.full_messages.each do |msg| %>
			<li><%= msg %></li>
		<% end %>
	</ul>
	<% end %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :type %><br />
    <%= f.select 'type', options_for_select(Sensor::TYPES), :multiple => false %>
  </p>

  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>


<%= link_to 'Back', sensors_path %>