<!DOCTYPE html>
<html>
<head>
  <title>Smarthome</title>
  <%= stylesheet_link_tag 'smarthome' %>
  <%= javascript_include_tag 'jquery-1.4.4', 'jquery.flot.js', 'application' %>
  <%= yield :javascript_includes %>
  <%= csrf_meta_tag %>
</head>
<body>

	<div id="main">

		<div id="topNav">
			<%= link_to "Home", :root %>
			<%= link_to "Sinks", sinks_path %>
			<%= link_to "Sensors", sensors_path %>
			<%= link_to "Fake Sensor Message", :controller => 'sinks', :action => 'fake' %>
		</div>

		<% if alert %>
			<p id="error"><%= alert %></p>
		<% end %>


		<% if notice %>
			<p id="notice"><%= notice %></p>
		<% end %>

		<%= yield %>
	</div>

</body>
</html>
